<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Datos del nuevo individuo</h1>
    <a th:href="@{}">Devolver</a>
    <br>
    <form th:action="salvar" method="post" th:object="${individuo}">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <br>
        <label for="apellido">Apellido: </label>
        <input type="text" name="apellido" th:field="*{apellido}"/>
        <br>
        <label for="edad">Edad: </label>
        <input type="text" name="edad" th:field="*{edad}"/>
        <br>
        <label for="correo">Correo: </label>
        <input type="text" name="correo" th:field="*{correo}"/>
        <br>
        <label for="telefono">Telefono: </label>
        <input type="text" name="telefono" th:field="*{telefono}"/>
        <br>
        <input type="submit" value="salvar">
    </form>
</body>
</html>